InventoryUI {
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;

	.prompt {
		position: absolute;
		left: 40%;
		top: 45%;
		font-size: 64px;
		font-family: Poppins;
		font-weight: bold;
	}

	.inventory {
		position: absolute;
		top: 20%;
		bottom: 20%;
		left: 30%;
		right: 30%;
		z-index: 1;
		justify-content: center;
		gap: 8px;
		align-items: flex-end;
		background-color: lightgray;
		border-radius: 8px;
		pointer-events: all;

		> .slot {
			font-size: 24px;
			width: 64px;
			height: 64px;
			background-color: gray;
			border-radius: 8px;
			transition: all 0.1s ease;

			&.active {
				background-color: lightgray;
				width: 96px;
				height: 96px;
			}

			> .hotbarcounter {
			}
		}
	}
}
