PlayerUI {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	//background-color: #444;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
	font-size: 60px;
	font-family: Poppins;

	.healthbar {
		position: absolute;
		left: 32px;
		bottom: 32px;
		width: 300px;
		height: 50px;
		background-color: black;
		border-radius: 8px;
		padding: 4px;
	}

	.innerhealthbar {
		background-color: red;
		border-radius: 8px;
	}

	.pickupbar {
		width: 400px;
		height: 20px;
		background-color: black;
		padding: 4px;
		border-radius: 4px;
	}

	.innerpickupbar {
		background-color: lightgray;
		border-radius: 4px;
	}

	.attackcooldownbar {
		width: 100px;
		height: 20px;
		background-color: green;
		padding: 4px;
		border-radius: 8px;
	}

	.innerattackcooldownbar {
		background-color: lightgreen;
		border-radius: 8px;
	}

	.otherhealthbar {
		position: absolute;
		top: 70%;
		width: 200px;
		height: 50px;
		background-color: black;
		padding: 2px;
		border-radius: 8px;
	}

	.innerotherhealthbar {
		background-color: red;
		border-radius: 8px;
	}

	.hotbar {
		position: absolute;
		bottom: 32px;
		width: 100%;
		z-index: 1;
		justify-content: center;
		gap: 8px;
		align-items: flex-end;

		> .slot {
			font-size: 24px;
			width: 64px;
			height: 64px;
			background-color: gray;
			border-radius: 8px;
			transition: all 0.1s ease;

			&.active {
				background-color: lightgray;
				width: 96px;
				height: 96px;
			}

			> .hotbarcounter {
			}
		}
	}
}
