{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "ladder",
      "r": "Trigger"
    }
  ],
  "__guid": "981e8eb1-de46-403d-86f7-6d640e437fe3",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}